:host {
  display: flex;
  align-items: center;
}

#clock {
  width: 100%;
  height: 100%;
}

#border {
  fill: white;
  stroke: lightgrey;
  stroke-width: 64;
}

#center {
  fill: gold;
  stroke: none;
}

.black {
  fill: black;
  stroke: none;
}

.red {
  fill: #BD2420;
  stroke: none;
}
