:host {
  display: flex;
  align-items: center;
}

#clock {
  width: 100%;
  height: 100%;
}

#hand-hours {
  fill: var(--hours-hand-color);
  stroke: none;
}

#hand-minutes {
  fill: var(--minutes-hand-color);
  stroke: none;
}

#hand-seconds {
  fill: var(--seconds-hand-color);
  stroke: none;
}

#face-full {
  fill: var(--face-color);
  stroke: none;
}

#label {
  fill: var(--label-color);
  stroke: none;
}

#base {
  fill: var(--fill-color);
  stroke: var(--border-color);
  stroke-width: var(--border-width);
}

#center {
  fill: var(--center-color);
  stroke: none;
}
