:host {
  display: flex;
  align-items: center;
}

#clock {
  width: 100%;
  height: 100%;
}

path {
  fill: none;
}

#clock > path {
  stroke-width: var(--stroke-width);
  transform: rotate(-90deg);
}

textPath {
  font-variant-numeric: tabular-nums;
  paint-order: stroke;
  stroke-width: 0.06;
  stroke: black;
}

.label {
  text-anchor: end;
}

.progress {
  text-anchor: start;
}

#r-millennium {
  stroke: var(--color-millennium);
}
#r-century {
  stroke: var(--color-century);
}
#r-decade {
  stroke: var(--color-decade);
}
#r-year {
  stroke: var(--color-year);
}
#r-month {
  stroke: var(--color-month);
}
#r-week {
  stroke: var(--color-week);
}
#r-day {
  stroke: var(--color-day);
}
#r-hours12 {
  stroke: var(--color-hours12);
}
#r-hour {
  stroke: var(--color-hour);
}
#r-minute {
  stroke: var(--color-minute);
}

#l-millennium,
#p-millennium {
  fill: var(--color-millennium);
}
#l-century,
#p-century {
  fill: var(--color-century);
}
#l-decade,
#p-decade {
  fill: var(--color-decade);
}
#l-year,
#p-year {
  fill: var(--color-year);
}
#l-month,
#p-month {
  fill: var(--color-month);
}
#l-week,
#p-week {
  fill: var(--color-week);
}
#l-day,
#p-day {
  fill: var(--color-day);
}
#l-hours12,
#p-hours12 {
  fill: var(--color-hours12);
}
#l-hour,
#p-hour {
  fill: var(--color-hour);
}
#l-minute,
#p-minute {
  fill: var(--color-minute);
}
