@font-face {
  font-family: 'Helvetica Neue LT Pro md';
  src: url('fonts/HelveticaNeueLTPro-Md.otf');
}

* {
  cursor: none !important;
  pointer-events: none !important;
  user-select: none !important;
}

:root {
  background-color: black;
  font-family: 'Helvetica Neue LT Pro md', sans-serif;
}

body {
  position: relative;
  color: white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: unset;
  padding: unset;
}

ufi-layer {
  --column-width: calc(100vw / var(--column-count));
  --row-height: calc(100vh / var(--row-count));

  position: absolute;
  top: calc(
    (
      var(--row-from)
      - 1
    )
    * var(--row-height)
  );
  right: calc(
    (
      var(--column-count)
      - var(--column-to)
    )
    * var(--column-width)
  );
  bottom: calc(
    (
      var(--row-count)
      - var(--row-to)
    )
    * var(--row-height)
  );
  left: calc(
    (
      var(--column-from)
      - 1
    )
    * var(--column-width)
  );
  background-color: var(--background-color);
}

ufi-layer.left-half {
  right: 50%;
}

ufi-layer.right-half {
  left: 50%;
}

ufi-layer.top-half {
  bottom: 50%;
}

ufi-layer.bottom-half {
  top: 50%;
}

ufi-layer[ufi-type="image"] > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ufi-layer[ufi-type="html"] > iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

ufi-layer[ufi-type="module"] {
  opacity: 0;
}
ufi-layer[ufi-type="module"][ready] {
  opacity: unset;
}

ufi-layer[ufi-type="video"] > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
