* {
  cursor: none !important;
  pointer-events: none !important;
  user-select: none !important;
}

:root {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  position: relative;
  color: white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: unset;
  padding: unset;
}

ufi-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: unset;
  padding: unset;
}

ufi-layer.left-half {
  right: 50%;
}

ufi-layer.right-half {
  left: 50%;
}

ufi-layer.top-half {
  bottom: 50%;
}

ufi-layer.bottom-half {
  top: 50%;
}

ufi-layer[ufi-type="image"] > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ufi-layer[ufi-type="html"] > iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
